/* Simple Normalization */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 10px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
